/* Global Styles */
body {
  background-color: white;
  color: #222222;
  font-family: 'Inter', system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

/* Product Styles */
.product {
  display: flex;
  flex-wrap: wrap;
}

.product-image {
  flex: 0 0 250px;
  margin-right: 2rem;
}

.product-info {
  flex: 1;
}

.mt-16 {
  margin-top: 1rem;
}

.mr-16 {
  margin-right: 1rem;
}

/* Header Styles */
.header-line {
  background-color: #F6F6F7;
  height: 2rem;
  text-align: right;
  margin-bottom: 2rem;
  color: #888888;
  cursor: pointer;
}

/* Cart Styles */
.cart-container {
  background-color: #fff;
  padding: 1rem;
}

.cart-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.cart-item {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr;
  gap: 10px;
}

.cart-item-image {
  width: 150px;
  height: auto;
  border-radius: 0.5rem;
  position: relative;
}

/* Sizes Styles */
.sizes {
  display: flex;
  gap: 5px;
  margin-bottom: 1rem;
}

.sizes button {
  border: 1px solid #ccc;
  background-color: #ffffff;
  cursor: pointer;
  border-radius: 0;
  color: #888888;
  padding: 0.5rem 1rem;
}

.sizes button:hover {
  background-color: #e0e0e0;
}

/* Custom Button Styles */
.custom-button {
  border: 3px solid black;
  border-radius: 0;
  background-color: transparent;
  color: black;
  font-weight: bold;
  padding: 0.5rem 1rem;
  cursor: pointer;
}

.custom-button:hover {
  background-color: black;
  color: white;
}

/* Media Queries */
@media (max-width: 768px) {
  .product {
    flex-direction: column;
  }

  .product-image {
    margin-right: 0;
    margin-bottom: 1rem;
  }

  .header-line {
    margin-bottom: 1rem;
  }

}

